@import '../../lib/sass-utils.scss';

.placeholder {
  @include placeholder {
    color: #0ff;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #000;
    font-style: italic;
  }
}
