@mixin field($font-size: 1rem, $color: inherit, $focus-color: inherit, $background: #fff, $focus-background: #ffc, $border: 1px solid #888, $focus-border: $border, $border-radius: 0, $box-shadow: none, $focus-box-shadow: none) {
  input[type=text], input[type=tel], input[type=url], input[type=email], input[type=password], input[type=number], select, textarea {
    color: $color;
    box-sizing: border-box;
    font-size: $font-size;
    border: $border;
    background: $background;
    margin: 0;
    vertical-align: top;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &:focus {
      color: $focus-color;
      border: $focus-border;
      background: $focus-background;
      outline: none;
      box-shadow: $focus-box-shadow;
    }
  }

  input[type=text], input[type=tel], input[type=url], input[type=email], input[type=password], input[type=number] {
    padding: 0.5em;
    height: 2em;
    line-height: 1em;
  }

  select {
    padding: 0;
    height: 2em;
  }

  textarea {
    line-height: 1.5;
  }
}
