@import '../lib/sass-utils.scss';

.fixture {
  background: repeating-linear-gradient(135deg, rgba(#000, 0.05), rgba(#000, 0.05) 20px, rgba(#000, 0.1) 20px, rgba(#000, 0.1) 40px, rgba(#000, 0.05) 40px) #fff;
  box-shadow: inset 0 0 4px #fff, inset 0 0 0 1px #000;
  padding: 2rem;
  margin: 1rem;
  position: relative;
  clear: both;

  &[data-label]::before {
    font-size: 12px;
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2em 1em;
    line-height: 1;
    border-radius: 0 0 0.5em 0;
    display: block;
    background: rgba(#000, 0.5);
    color: #fff;
  }
}

.box {
  width: 150px;
  height: 120px;
  background: rgba(#ddd, 0.9);
  box-shadow: inset 0 0 2px rgba(#000, 0.6);
}
