@mixin vertical-center {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@mixin horizontal-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin block-center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
