// デバッグ用に強調表示
@mixin debug {
  box-shadow: 0 0 0 2px rgba(red, 0.1), inset 0 0 0 2px rgba(blue, 0.1) !important;

  &:hover {
    box-shadow: 0 0 0 2px red, inset 0 0 0 2px blue !important;
  }
}

// 主な要素をすべて強調表示
@mixin debug-element {
  h1, h2, h3, h4, h5, h6, div, p, ol, ul, li, dl, dt, dd, th, td {
    @include debug;
  }

  header, footer, nav, main, aside, section, article, figure {
    @include debug;
  }
}
