@import '../../lib/sass-utils.scss';

.px {
  font-size: 12px;
}

.vw {
  font-size: 12px;

  @media only screen and (min-width: 320px) and (max-width: 800px) {
    font-size: 3.75vw;
  }
}

.pseudo-vw {
  font-size: 12px;
  @include pseudo-vw(320px, 800px, 3.75);
}
