@import '../../lib/sass-utils.scss';

.box {
  margin-bottom: 1rem;
  overflow: hidden;
}

.box1 {
  width: 100px;
}

.box2 {
  height: 100px;
}

.bg {
  background: url(../image.jpg) no-repeat left top;
}

.auto-width {
  @include auto-scale-by-width;
}

.auto-height {
  @include auto-scale-by-height;
}

.auto-bg-width {
  @include auto-scale-by-width-for-bg;
}

.auto-bg-height {
  @include auto-scale-by-height-for-bg;
}
