/**
 * 高さを幅に合わせる.
 * @param $width 指定幅
 */
@mixin auto-scale-by-width($width: 100%) {
  width: $width;
  height: auto;
}

/**
 * 幅を高さに合わせる.
 * @param $height 指定高さ
 */
@mixin auto-scale-by-height($height: 100%) {
  height: $height;
  width: auto;
}

/**
 * 背景の高さを幅に合わせる.
 * @param $width 指定幅
 */
@mixin auto-scale-by-width-for-bg($width: 100%) {
  background-size: $width auto;
}

/**
 * 背景の幅を高さに合わせる.
 * @param $height 指定高さ
 */
@mixin auto-scale-by-height-for-bg($height: 100%) {
  background-size: auto $height;
}
