/** ブレークポイントのデフォルト値 */
$break-point: 768px !default;

/** 最小幅のデフォルト値 */
$min-point: null !default;

// ブレークポイントより大きい（ブレークポイントは含まない）場合のスタイル定義.
// @param $bp ブレークポイント
@mixin for-pc($bp: $break-point) {
  @media only screen and (min-width: ($bp + 1)) {
    @content;
  }
}

// ブレークポイント以下、最小幅以上の場合のスタイル定義.
// @param $bp ブレークポイント（幅）
// @param $min 最小幅. 省略時は0px
@mixin for-smartphone($bp: $break-point, $min: $min-point) {
  @if $min == null {
    @media only screen and (max-width: $bp) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $min) and (max-width: $bp) {
      @content;
    }
  }
}

/**
 * 最小幅未満のスタイル定義.
 * @param $min 最小幅
 */
@mixin for-minimum($min: $min-point) {
  @if $min != null {
    @media only screen and (max-width: ($min - 1)) {
      @content;
    }
  }
}
