// vw未対応ブラウザ向けの可変フォントサイズ設定

// 100vw == view width
// view width = 320, 1vw == 3.2px, 16px == 5vw, 12px == 3.75vw
@mixin pseudo-vw($min, $max, $vn) {
  $minSize: $min / 100.0 * $vn;
  $maxSize: $max / 100.0 * $vn;

  @media only screen and (max-width: $min - 1) {
    font-size: $minSize;
  }

  $last: null;
  @for $size from $minSize through $maxSize - 1 {
    $from: floor($size * 100 / $vn);
    $to: floor(($size + 1) * 100 / $vn);
    @media only screen and (min-width:$from) and (max-width: $to - 1) {
      font-size: $size;
    }
    $last: $to;
  }
  @media only screen and (min-width:$last) and (max-width: $max) {
    font-size: $maxSize;
  }
}
