@import '../../lib/sass-utils.scss';

.fixture {
  p {
    line-height: 1;
  }
}

.mark {
  @include mark;
}

.mark2 {
  @include mark($width: 2em, $align: left);
}

.indent {
  padding-left: 1.5em;

  .mark3 {
    @include mark($width: 1.5em);
    margin-left: -1.5em;
  }
}
