@import '../../lib/sass-utils.scss';

.fixture {
  height: 400px;
}

.block-center {
  position: absolute;
  @include block-center;
}

.horizontal-center {
  position: absolute;
  @include horizontal-center;
}

.vertical-center {
  position: absolute;
  @include vertical-center;
}
