@import '../../lib/sass-utils.scss';

.fixture p + p {
  margin-top: 1rem;
}

input {
  width: 10em;
}

.height-check {
  white-space: nowrap;
}

.field {
  @include field;
}

.field2 {
  @include field($font-size: 18px, $color: #090, $focus-color: #0f0, $border: 2px solid #000, $focus-border: 2px solid #ff9, $background: #ddd, $focus-background: #ff9, $box-shadow: 2px 2px 2px #000, $focus-box-shadow: 2px 2px #000, $border-radius: 0.2em);
  @include placeholder {
    color: #ccc;
  }
}
