// 標準のリセット
@mixin reset {
   html, body, h1, h2, h3, h4, h5, h6, div, span, p, ol, ul, li, dl, dt, dd, table, tr, th, td {
    margin: 0;
    padding: 0;
  }

  header, footer, nav, main, aside, section, article, figure, figcaption {
    margin: 0;
    padding: 0;
  }

  body, h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
  }

  ol, ul {
    list-style: none;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
  }

  img {
    vertical-align: top;
  }

  button, input[type=submit], input[type=reset], input[type=button] {
    border: 0;
    padding: 0;
    background: transparent;
    vertical-align: top;
  }
}
