@import '../../lib/sass-utils.scss';

.for1 {
  @include for-pc {
    background-color: #fcc;
  }
  @include for-smartphone {
    background-color: #cfc;
  }
  @include for-minimum {
    background-color: #ccf;
  }

  .pc-only {
    @include for-smartphone {
      display: none;
    }
    @include for-minimum {
      display: none;
    }
  }

  .sp-only {
    @include for-pc {
      display: none;
    }
    @include for-minimum {
      display: none;
    }
  }

  .min-only {
    @include for-pc {
      display: none;
    }
    @include for-smartphone {
      display: none;
    }
  }
}
