@import '../../lib/sass-utils.scss';

.simple {
  @include font-simple;
}

.gothic {
  @include font-gothic;
}

.yu-gothic {
  @include font-yu-gothic;
}

.mincho {
  @include font-mincho;
}

.yu-mincho {
  @include font-yu-mincho;
}

.monospace {
  @include font-monospace;
}
